.grace-border,
.kim-border {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.portfolio-border {
  -webkit-text-stroke: 1px oklch(43.8% 0.218 303.724);
  color: transparent;
}

.text-white {
  color: white;
}
